* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.no-script {
	z-index: 10000;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	/* background-image: url("out-transparent-29_400.gif"); */
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: 30vmin;
	image-rendering: crisp-edges;
}

.no-script__text {
	color: #dddddd;
	position: relative;
	text-align: center;
	font-size: 3vmin;
	top: 60%;
}

body {
	background-color: #eee;
	font-family: "Lato", sans-serif;
	color: rgb(15%, 15%, 15%);
}

body::after { /* weird preload hack, thanks firefox */
	position: fixed;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	opacity: 0.00001;
	z-index: -99999999;
	content: url("images/info-button-animated.webp"); /* urls here */
}

.background {
	background-image: url(""); /* modified by js */
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -999999;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: contrast(110%);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.talent-select-container {
	perspective: 200px;
}

.talent-select-box {
	width: 350px;
	height: 400px;
	padding: 10px;
}

.talent-select-box-1 {
	background: linear-gradient(225deg, rgba(95%, 95%, 95%, 1), rgba(231, 237, 238, 0.9));
	margin-right: 20px;
	transform: rotateY(5deg);
}

.talent-select-box-2 {
	background: linear-gradient(135deg, rgba(95%, 95%, 95%, 1), rgba(231, 237, 238, 0.9));
	margin-left: 20px;
	transform: rotateY(-5deg);
}

.talent-select-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-shrink: 0;
}

.talent-select-image {
	max-width: 300px;
	width: 100%;
}

.talent-select-image__image {
	border-radius: 10px;
	width: 100%;
}

.talent-select-input {
	border-radius: 5px;
	border: none;
}

.result-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgba(100%, 100%, 100%, 1), rgba(90%, 90%, 90%, 0.9));
}

.result-canvas {
	border: 2px gray dashed;
	border-radius: 10px;
	width: 500px;
	height: 500px;
}

.result-buttons {
	width: 80px;
	height: 40px;
	background-color: gray;
	margin-top: 100px;
}

.box {
	padding: 30px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.talent-select-name {
	font-size: 1.5em;
	font-weight: 500;
}

.result-name {
	font-size: 3em;
	font-weight: 600;
	letter-spacing: -0.02em;
}

.info-button {
	position: fixed;
	bottom: 0.5vh;
	right: 0.5vw;
	width: max(60px, 3vmax);
	height: max(60px, 3vmax);
	z-index: 1000;
	cursor: pointer;
	background-image: url("images/info-button.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	animation-name: info-button-anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: paused;
	backface-visibility: hidden; /* fixes flickering issue in firefox */
}

.info-button:hover {
	animation-play-state: running;
	background-image: url("images/info-button-animated.webp");
}

.info {
	position: fixed;
	width: 700px;
	height: 700px;
	max-width: 90vw;
	max-height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	background-image: linear-gradient(rgba(100%, 100%, 100%, 1), rgba(90%, 90%, 90%, 1));
	box-shadow: 0 0 7vmin rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	animation-fill-mode: forwards;
}

.info--in {
	animation-name: info-in;
	animation-duration: 0.2s;
}

.info--out {
	animation-name: info-out;
	animation-duration: 0.2s;
}

@keyframes info-in {
	from {
		visibility: visible;
		opacity: 0;
		transform: translate(-50%, -50%) scale(1.3);
	}

	to {
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes info-out {
	from {
		opacity: 1;
		visibility: visible;

	}

	to {
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, -50%) scale(0.8);
	}
}

@keyframes info-button-anim {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

.info__close {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 2em;
	height: 2em;
}
